<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amall.dao.PayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.amall.pojo.PayInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="pay_platform" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="platform_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="platform_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_no, pay_platform, platform_number, platform_status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from amall_pay_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from amall_pay_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amall.pojo.PayInfo" >
    insert into amall_pay_info (id, user_id, order_no, 
      pay_platform, platform_number, platform_status, 
      create_time, update_time)
    values (#{record.id,jdbcType=INTEGER}, #{record.userId,jdbcType=INTEGER}, #{record.orderNo,jdbcType=BIGINT},
      #{record.payPlatform,jdbcType=INTEGER}, #{record.platformNumber,jdbcType=VARCHAR}, #{record.platformStatus,jdbcType=VARCHAR},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.amall.pojo.PayInfo" >
    insert into amall_pay_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        id,
      </if>
      <if test="record.userId != null" >
        user_id,
      </if>
      <if test="record.orderNo != null" >
        order_no,
      </if>
      <if test="record.payPlatform != null" >
        pay_platform,
      </if>
      <if test="record.platformNumber != null" >
        platform_number,
      </if>
      <if test="record.platformStatus != null" >
        platform_status,
      </if>
      <if test="record.createTime != null" >
        create_time,
      </if>
      <if test="record.updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.payPlatform != null" >
        #{record.payPlatform,jdbcType=INTEGER},
      </if>
      <if test="record.platformNumber != null" >
        #{record.platformNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.platformStatus != null" >
        #{record.platformStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amall.pojo.PayInfo" >
    update amall_pay_info
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.payPlatform != null" >
        pay_platform = #{record.payPlatform,jdbcType=INTEGER},
      </if>
      <if test="record.platformNumber != null" >
        platform_number = #{record.platformNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.platformStatus != null" >
        platform_status = #{record.platformStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{record.id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amall.pojo.PayInfo" >
    update amall_pay_info
    set user_id = #{record.userId,jdbcType=INTEGER},
      order_no = #{record.orderNo,jdbcType=BIGINT},
      pay_platform = #{record.payPlatform,jdbcType=INTEGER},
      platform_number = #{record.platformNumber,jdbcType=VARCHAR},
      platform_status = #{record.platformStatus,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{record.id,jdbcType=INTEGER}
  </update>
</mapper>